<h3>My Collection</h3>

<% if @collections %>

  <table class="table">
    <thead>
      <th>Artist</th>
      <th>Album</th>
      <th>Notes</th>

    </thead>
    <tbody>
      <% @collections['releases'].each do |val| %>
        <tr>
          <% val['basic_information']['artists'].each do |artist| %>
            <td><%= artist['name']%></td>
          <% end %>
          <td><%= val['basic_information']['title'] %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
