/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  @import "bootstrap-sprockets";
  @import "bootstrap";


  body {
    background-image: url('http://www.abelpdx.com/images/grey_wash_wall.png');
  }

  .wrapper {
    opacity: 0.9;
  }

  .container {
    min-height: 500px;
    width: 90%;
    padding-top: 25px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
  }

  .container a {
    color: rgba(0, 245, 245, .7);
  }

  .pager a {
    color: black;
    text-shadow: none;
  }

  .bg {
    background-image: url('http://www.abelpdx.com/images/crate_3.jpg');
    height: 300px;
    width: 100%;
    margin-top: -20px;
  }

  .jumbotron {
    height: 300px;
    margin-left: 50px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
  }

  .navbar {
  border: none;
  background-image: url('http://www.abelpdx.com/images/felt.png');
  }

  .search-form {
    color: black;
  }

  .left {
  margin: 20px;
  }

  .right {
  margin: 20px;
  }

  .image_box {
   align-content: center;
   max-width: 400px;
   max-height: 400px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.3);
   padding: 30px;
  }

  .album_image img{
    max-width: 350px;
    border-radius: 10px;
  }

  .description {
   color: rgba(255, 255, 255, 0.7);
  }

  .spacer {

  }
